/* Importing Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* Importing roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Importing Noto Sans Cypro Minoan */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Cypro+Minoan&display=swap');

* {
    margin: 0;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background-color: rgb(54, 12, 137);
    width: 5px;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: #A94EFF;
    border-radius: 10px;
}

body {
    color: white;
    overflow-x: hidden;
    background-image: url('./Resources/bg2.jpg');
}

section {
    height: 100vh;
}


header {
    display: flex;
}

ul {
    font-family: 'Kanit', sans-serif;
    display: flex;
    position: relative;
    left: 425px;
    top: 35px;
    list-style: none;
    font-size: 20px;
}

li {
    padding-left: 20px;
}

li:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

video {
    position: absolute;
    height: auto;
    width: 100%;
    z-index: -1;
}

.branding {
    position: relative;
    top: 155px;
    /* left: 325px; */
    left: 335px;
    align-content: center;
}

.discover_btn {
    position: relative;
    top: 170px;
    right: 70px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    border-radius: 40px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.discover_btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

#main_div-1 {
    /* height: 100vh; */
}

#main_div-2 {
    background-image: url('./Resources/bg6.jpg');
    clear: both;
}

.main_div-text {
    position: relative;
    top: 200px;
    left: 100px;
    width: 600px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.img_deaf {
    position: relative;
    bottom: 175px;
    left: 700px;
    border-radius: 5px;
    clip-path: circle();
    height: 450px;
}

#main_div-3 {
    background-image: url('./Resources/bg8.jpg');
    /* height: 100vh; */
}

#main_div-3 h1 {
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
    display: flex;
    position: relative;
    top: 20px;
    justify-content: center;
}

.img_UI {
    height: 400px;
    position: relative;
    top: 100px;
    left: 25px;
}

#main_div-3 h3 {
    position: relative;
    bottom: 200px;
    left: 700px;
    width: 600px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

#main_div-3 button {
    position: relative;
    bottom: 150px;
    left: 700px;
    padding: 10px 20px 10px 20px;
    background: transparent;
    color: white;
    font-size: 15px;
    border: 1px solid white;
}

#main_div-3 button:hover {
    cursor: pointer;
    background-color: #022135;
    color: white;
}
