/* Importing Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* Importing Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Importing Noto Sans Cypro Minoan */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Cypro+Minoan&display=swap');
/* Importing Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Desktop Responsive */

* {
    margin: 0;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background-color: rgb(54, 12, 137);
    width: 5px;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: #A94EFF;
    border-radius: 10px;
}

body {
    color: white;
    overflow-x: hidden;
    background-image: url('../Resources/bg.jpg');
    scroll-behavior: smooth;
}

#main_div-1 {
    height: 100vh;
}

#menu_brgr {
    position: absolute;
    top: 30px;
    right: 1rem;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    width: 30px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

#nav_connections {
    /* display: flex; */
}

ul {
    font-family: 'Kanit', sans-serif;
    display: flex;
    position: relative;
    left: 425px;
    top: 35px;
    list-style: none;
    font-size: 20px;
}

li {
    padding-left: 20px;
}

li:hover {
    color: #A94EFF;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.branding {
    position: relative;
    top: 155px;
    /* left: 325px; */
    left: 335px;
    align-content: center;
}

.devs {
    border: 1px solid wheat;
    /* width: 50%; */
    justify-items: center;
    position: relative;
    top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 400px;
    width: 300px;
    border-radius: 10px;

}

.devs {
    background-color: #022135;
}

.devs:hover .overlay {
    opacity: 1;
}

.dev:hover {
    cursor: pointer;
}

.pic {
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    background-color: #eee;
}

.overlay_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.OverlayLeft {
    height: 100%;
    width: 0;
    bottom: 0;
    left: 0;
}

.devs:hover .OverlayLeft {
    width: 100%;
}











#credits {
    display: flex;
    justify-content: center;
    background-color: #022135;
    padding: 10px;
}

#credits h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    opacity: 75%;

}