body {
    background-color: rgb(43, 42, 42);
}

#pulse {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    cursor: pointer;
    animation: scaling 1s ease-in-out forwards infinite alternate;
}

@keyframes scaling {
    100% {
        scale: 95%;
    }
}

.mic_icon {
    position: absolute;
    z-index: 10;
    height: 50%;
    width: 50%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.pulse_span {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: inherit;
    border-radius: inherit;
}

.listening {
    opacity: 0.8;
    animation: pulsing 4s ease-in-out infinite;
    animation-delay: calc(1s *var(--i));
}


@keyframes pulsing {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}