/* Importing Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
}

/* Desktop Responsive */

body {
    background-image: url('./Assets/bg.jpg');
    color: white;
}

.div_logo {
    display: flex;
    justify-content: center;
}

.div_logo img {
    height: 150px;
}

.main_div {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    position: relative;
    top: 5vh;
}

.div_1,
.div_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.div_1-2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#input_textarea {
    font-size: 20px;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border: none;
    resize: none;
}

#mic_icon {
    display: flex;
    height: 75px;
    width: 75px;
}

#mic_icon:hover {
    cursor: pointer;
}

#output {
    display: none;
    font-size: 20px;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border: none;
    resize: none;
    transition: 0.5s;
    clear: both;
}

#convert_btn {
    border-radius: 10px;
    border: 1px solid white;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #004C74;
    height: 39px;
}

#convert_btn:hover {
    background-color: #004C74;
    background: #D93760;
    color: #FFE6D7;
    cursor: pointer;
}


.credits {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    opacity: 75%;
    text-align: center;
    position: relative;
    top: 75px;
}

/* Tablet Responsive */

/* Mobile Responsive */

@media only screen and (min-width: 320px) and (max-width: 428px) {

    * {}

    body {}

    .div_logo {}

    .div_logo img {
        height: 125px;
    }

    .main_div {
        display: flex;
        flex-direction: column;
        top: 0vh;
    }

    .div_1,
    .div_2 {}

    .div_1-2 {}

    #input_textarea {
        height: 250px;
        width: 100%;
    }

    #mic_icon {}

    #mic_icon:hover {}

    #output {
        height: auto;
        width: 100%;
    }

    #convert_btn {}

    #convert_btn:hover {}


    .credits {
        top: 25px;
    }
}